section.contact
    .container
        .contact-wrapper
            .contact-list.df.jcsb
                .contact-left
                    img.contact-img.img(src="img/contact.png", alt="")
                .contact-right.df.direction
                    h2.contact-title Будем ближе
                    img.contact-mobile.hide(src="img/contact.png", alt="")
                    .contact-subtitle Присоединяйтесь к нашему сообществу в социальных сетях, чтобы быть в курсе последних новостей, эксклюзивных интервью, обзоров и аналитических материалов. Будьте в тренде вместе с нами!
                    .contact-links
                        a.contact-link.btn(href="#" target="_blank") Вконтакте
                        a.contact-link.btn(href="#" target="_blank") Telegram
                        a.contact-link.btn(href="#" target="_blank") Instagram*
                    .contact-bottomText *Instagram Meta Platforms Inc. запрещено на террритории Росии
        .contact-bottom
            .contact-bottom__wrapper
                .contact-bottom__title Будьте в курсе последних событий
                form.contact-form
                    .contact-form__list.df.fxw.jcsb
                        .contact-form__left
                            .contact-form__input.df.aic
                                b E-mail:
                                input.df.aic(type="email" placeholder="example@555.com" required)
                            .contact-form__input.df.aic
                                b Тема:
                                .select
                                    select
                                        option(value="Все темы" selected) Все темы
                                        option(value="Все темы") Все темы
                                        option(value="Все темы") Все темы
                        .contact-form__right.df.direction
                            button.contact-form__btn.btn Подписаться
                            .contact-form__policy Нажимая на «Подписаться», я соглашаюсь с&nbsp;
                                a(href="#") обработкой персональных данных
                                