.page-menu
    .page-menu__container
        nav.page-menu__nav
            ul
                li
                    a(href="#") Город
                    ul
                        li
                            a(href="#") Все
                        li
                            a(href="#") Новое место
                        li
                            a(href="#") Еда
                        li
                            a(href="#") Альметьевск
                        li
                            a(href="#") Набережные челны
                li
                    a(href="#") Герои
                li
                    a(href="#") Путешествия
                    ul
                        li
                            a(href="#") Все
                        li
                            a(href="#") Казань
                        li
                            a(href="#") Альметьевск
                        li
                            a(href="#") Набережные челны
                li
                    a(href="#") Искусство
                    ul
                        li
                            a(href="#") Все
                        li
                            a(href="#") Музыка
                        li
                            a(href="#") Живопись
                        li
                            a(href="#") Литература
                        li
                            a(href="#") Театр
                        li
                            a(href="#") Фотография 
                        li
                            a(href="#") Выставки
                li
                    a(href="#") Прошлое
                li
                    a(href="#") Еще
                    ul
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Рекламодателям
                        li
                            a(href="#") Амбассадоры инде
                        li
                            a(href="#") О проекте
                        li
                            a(href="#") Соглашения и правила
        .page-menu__mobile.hide
            .footer-item
                .footer-item__title Общий контакт редакции:
                .footer-item__text
                    a(href="mailto:hello@inde.io") hello@inde.io
                .footer-item__text
                    a(href="#" target="_blank") VK
                    a(href="#" target="_blank") Telegram
            .footer-item
                .footer-item__title Обсудить рекламу:
                .footer-item__text
                    a(href="mailto:ad@inde.io") ad@inde.io
            .footer-item
                .footer-item__title Некоммерческие проекты и&nbsp;информационное партнерство:
                .footer-item__text
                    a(href="mailto:pr@inde.io") pr@inde.io



form.mobile-search
    .mobile-search__container.df.direction
        input.mobile-search__input.df.aic(type="text" placeholder="Найти")
        .mobile-search__results-item
            a.mobile-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
            a.mobile-search__results-subtitle.db(href="#") Город
        .mobile-search__results-item
            a.mobile-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
            a.mobile-search__results-subtitle.db(href="#") Город
        .mobile-search__results-item
            a.mobile-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
            a.mobile-search__results-subtitle.db(href="#") Город
        .mobile-search__results-item
            a.mobile-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
            a.mobile-search__results-subtitle.db(href="#") Город
        .mobile-search__results-item
            a.mobile-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
            a.mobile-search__results-subtitle.db(href="#") Город
        a.header-search__results-btn.btn(href="#") Все результаты



.top-fixed

    .green-slider.swiper
        .swiper-wrapper
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!
            .swiper-slide
                .green-slider__text ИНДЕ АЛМЕТ «Инде» запустился в Альметьевске!

    header.header
        .container
            .header-list.df.aifs
                .header-burger.cursor.transition
                    svg
                        use(xlink:href="img/sprite.svg#burger")
                    svg
                        use(xlink:href="img/sprite.svg#close")
                a.header-logo.dif.link(href="index.html")
                    img.img(src="img/logo.svg", alt="")
                .header-mobile__search.cursor.hide.transition
                    svg
                        use(xlink:href="img/sprite.svg#search")
                    svg
                        use(xlink:href="img/sprite.svg#close")
                .header-right
                    form.header-search.df.aic.posr
                        .header-search__icon.db
                            svg
                                use(xlink:href="img/sprite.svg#search")
                        input.header-search__input.df.aic(type="text" placeholder="Найти")
                        .header-search__clear.posa.db.cursor
                        button.header-search__btn.df.aic.jcc.link.transition.cursor Найти
                        .header-search__results.posa
                            .header-search__results-item
                                a.header-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
                                a.header-search__results-subtitle.db(href="#") Город
                            .header-search__results-item
                                a.header-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
                                a.header-search__results-subtitle.db(href="#") Город
                            .header-search__results-item
                                a.header-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
                                a.header-search__results-subtitle.db(href="#") Город
                            .header-search__results-item
                                a.header-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
                                a.header-search__results-subtitle.db(href="#") Город
                            .header-search__results-item
                                a.header-search__results-title.db(href="#") Событие года. В Казани откроется новый спортивный комплекс 
                                a.header-search__results-subtitle.db(href="#") Город
                            a.header-search__results-btn.btn(href="#") Все результаты
                    nav.header-nav
                        ul
                            li
                                a(href="#") Город
                            li
                                a(href="#") Еда
                            li
                                a(href="#") Герои
                            li
                                a(href="#") Путешествия
                            li
                                a(href="#") Искусство
                            li
                                a(href="#") Прошлое
                            li
                                a(href="#") Еще
                                ul
                                    li
                                        a(href="#") Вакансии
                                    li
                                        a(href="#") Рекламодателям
                                    li
                                        a(href="#") Амбассадоры инде
                                    li
                                        a(href="#") О проекте
                                    li
                                        a(href="#") Соглашения и правила