.home-blog__arrows.df.aic.posa
    .home-blog__arrow.home-blog__prev.cursor.transition
    .home-blog__arrow.home-blog__next.cursor.transition
.swiper-wrapper
    .swiper-slide
        .home-blog__box.posr.df.direction
            .home-blog__cat.dif.aic.posa Путешествия
            a.home-blog__box-img.posr.overflow.db(href="#")
                img.img(src="img/blog-2.png", alt="")
            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
            a.home-blog__item-btn.btn(href="#") Перейти
    .swiper-slide
        .home-blog__box.posr.df.direction
            .home-blog__cat.dif.aic.posa Путешествия
            a.home-blog__box-img.posr.overflow.db(href="#")
                img.img(src="img/blog-3.png", alt="")
            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
            a.home-blog__item-btn.btn(href="#") Перейти
    .swiper-slide
        .home-blog__box.posr.df.direction
            .home-blog__cat.dif.aic.posa Путешествия
            a.home-blog__box-img.posr.overflow.db(href="#")
                img.img(src="img/blog-4.png", alt="")
            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
            .home-blog__box-subtitle Размышления путешественника о городе.
            a.home-blog__item-btn.btn(href="#") Перейти
    .swiper-slide
        .home-blog__box.posr.df.direction
            .home-blog__cat.dif.aic.posa Путешествия
            a.home-blog__box-img.posr.overflow.db(href="#")
                img.img(src="img/blog-4.png", alt="")
            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
            a.home-blog__item-btn.btn(href="#") Перейти