extends ../includes/_template.pug

block content

    .color-wrapper.blue-block.index

        .left-line
            span.accent-color О проекте

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова


        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li О проекте

        section.about
            .container
                .about-list.df
                    .about-left
                        h2.about-bold О проекте
                        .about-text Каждый день рассказываем об изменениях в городах республики — об активистах, выставках, парках, барах и  героях новой поп-культуры.
                    .about-right
                        .about-item
                            .about-bold «Инде» - сайт о жизни в Татарстане
                            .about-text Мы пишем  о городских сообществах, современном искусстве, научных открытиях и изменениях в национальном наследии — обо всем, что помогает понять, кем мы являемся, откуда пришли и куда движемся. <br>Здесь же анонсируем кинопоказы, лекции, вечеринки, перформансы и выставки, а также участвуем в крупных городских событиях. Цель — сделать жизнь в Татарстане еще интереснее и удобнее для каждого.
                        .about-item
                            .about-bold «Партнеры «Инде»
                            .about-text У нас много партнеров, с которыми мы активно сотрудничаем, которые помогают нам расширять нашу аудиторию и повышать узнаваемость бренда. Наши партнеры - это люди, которые разделяют наши ценности и стремятся к развитию в своей отрасли. Мы очень ценим наших амбассадоров, так как они позволяют нам достигать новых высот и развиваться вместе. Наша команда всегда открыта для новых предложений и готова рассмотреть любые варианты сотрудничества.
                        .about-item
                            .about-bold Команда
                            .about-text Мы искренне увлечены своим делом и стараемся делать каждый материал интересным и полезным для вас. Следим за последними тенденциями и новостями, чтобы делиться только актуальной информацией. У каждого из нас свои уникальные навыки и опыт, благодаря которым получается создавать разнообразный и качественный контент.
                .about-authors
                    .about-authors__item.df.aifs
                        .about-authors__item-title РЕДАКТОРЫ
                        .about-authors__item-content
                            .about-authors__item-text Камиль 
                                span Гимаздтинов
                            .about-authors__item-text Софья 
                                span Гражевич
                            .about-authors__item-text Аделя 
                                span Халитова
                    .about-authors__item.df.aifs
                        .about-authors__item-title ЖУРНАЛИСТЫ
                        .about-authors__item-content
                            .about-authors__item-text Камиль 
                                span Гимаздтинов
                            .about-authors__item-text Софья 
                                span Гражевич
                            .about-authors__item-text Аделя 
                                span Халитова
                            .about-authors__item-text Дина 
                                span Ахметшина
                    .about-authors__item.df.aifs
                        .about-authors__item-title ДИЗАЙН
                        .about-authors__item-content
                            .about-authors__item-text Мира 
                                span Камалетдинова
                            .about-authors__item-text Софья 
                                span Гражевич
                .about-bottom.df.jcsb
                    .about-bottom__left.df.direction
                        .about-bottom__text Связаться с&nbsp;нами, рассказать о&nbsp;своих новостях, предложить идею или&nbsp;высказать критику 
                        .about-bottom__link
                            a.about-bottom__email.dif.link.transition(href="mailto:hello@inde.io") hello@inde.io
                    img.about-bottom__img.img(src="img/lorem.png", alt="")

        include ../includes/_contact.pug