extends ../includes/_template.pug

block content

    .color-wrapper.dark-block.index

        .left-line
            span.accent-color Амбассадоры


        main.ambassador
            .container
                .ambassador-top.posr.df.aifs
                    .ambassador-img
                        img.img(src="img/author.png", alt="")
                        span.db 30.11.1992 Екатеринбург, Москва
                    .ambassador-wrapper
                        ul.breadcrumbs-list
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Амбассадоры «Инде»
                            li Ксения Уварова
                        h1.ambassador-title Анастасия Чернядьева
                        .ambassador-subtitle Соосновательница и CEO Ushatava
                        .ambassador-text Соосновательница бренда, с которого, совершенно очевидно, в учебниках по истории отечественной моды будет начинаться новая глава. В этом году Ushatava отправилась в Японию, где провела съемку коллекции Garderobe SS24 при участии фотографа Такаси Хомма, который работал с i-D, Dazed, Purple Magazine, Marfa Journal и другими независимыми журналами; в качестве героя сняла режиссера Айсултана Сеитова и провела одну из самых заметных рекламных кампаний.
                        a.ambassador-link.dif.aic.link.transition(href="forexample.com" target="_blank") forexample.com
                .ambassador-content
                    .ambassador-content__title Биография
                    .ambassador-content__list.df
                        .ambassador-content__text Ксения Уварова окончила Уральский государственный юридический университет, но после короткой практики в государственных органах передумала строить карьеру в юриспруденции. Она всегда увлекалась модой, насмотренность в ней развили путешествия по Европе, куда в детстве ее часто возила мама.  <br>В 2010 году Ксения познакомилась с Нино Шаматава — будущим партнером по Ushatava. В 2014 году увлеченные модой подруги отправились учиться основам кройки и шитья, а в 2015-м запустили бренд в Instagram (принадлежит Meta, признанной экстремистской и запрещенной в России. — SM). После пандемии соосновательницы пересмотрели внутренние бизнес-процессы: Ксения заняла должность CEO компании, а Нино стала креативным директором бренда.  <br>Уральская марка с базовыми капсулами пережила не одну трансформацию, окончательно переориентировавшись в сегмент middle-up в 2022 году. Ushatava стали модным Домом, запустили премиальную линейку Research и открыли новый бэк-офис в Москве.
                        .ambassador-content__right «Я убеждена, что нет ничего невозможного»
                .ambassador-slider__wrapper.posr
                    .ambassador-slider.swiper
                        .ambassador-arrow.ambassador-arrow__prev.posr.posa.cursor
                        .ambassador-arrow.ambassador-arrow__next.posr.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .ambassador-slider__item.df.aifs
                                    .ambassador-slider__item-text Подпись к картинке
                                    img.ambassador-slider__item-img.img(src="img/ambassador.png", alt="")
                            .swiper-slide
                                .ambassador-slider__item.df.aifs
                                    .ambassador-slider__item-text Подпись к картинке
                                    img.ambassador-slider__item-img.img(src="img/ambassador.png", alt="")
                .ambassador-info
                    .ambassador-info__list.df.aifs
                        .ambassador-info__left
                            .ambassador-info__title 2023 <br>Сэл Андерсон  (Великобритания)  60&nbsp;минут
                            .ambassador-info__subtitle Когда: 10 октября в 19:00 <br>Где: ЦСК «Смена», ул. Б. Шахиди, 7 Вход: 350 ₽
                        .ambassador-info__text Собственное производство, апсайкл-коллекции  и&nbsp;«интеллектуальная женственность» в Corstore17  Собственное производство, апсайкл-коллекции  и «интеллектуальная женственность» в Corstore17 Собственное производство, апсайклколлекции и «интеллектуальная женственность»  в Corstore17 Собственное производство, апсайклколлекции и «интеллектуальная женственность»  в Corstore1
                .ambassador-facts
                    .ambassador-fact
                        .ambassador-fact__title Малоизвестный факт
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                    .ambassador-fact
                        .ambassador-fact__title Заберу в будущее
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                    .ambassador-fact
                        .ambassador-fact__title Оставлю в прошлом
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                    .ambassador-fact
                        .ambassador-fact__title Открытие последних лет
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                    .ambassador-fact
                        .ambassador-fact__title Книга
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                    .ambassador-fact
                        .ambassador-fact__title Хобби
                        .ambassador-fact__text Я начала заниматься балетом. Мне всегда нравился этот вид искусства, но казался чем-то недосягаемым. Я представляла, как приду в нужную физическую форму и начну брать уроки. В какой-то момент я перестала искать оправдания, сходила на первое занятие — и поняла, что это мое. Здесь есть дисциплина, терпение, выдержка, стойкость. Мне очень нравится развивать в себе эти качества.
                .ambassador-next
                    img.ambassador-next__img.img(src="img/ambassador-next.png", alt="")
                    .ambassador-next__title Ксения Уварова
                    .ambassador-next__text Про сложный путь в моде, открытие своего бренда, взлетах и падениях
                    a.ambassador-next__btn.home-blog__item-btn.btn(href="#") Читать

        section.ambassadorOther
            .container
                h2.ambassadorOther-title Амбассадоры Инде
                .ambassadorOther-wrapper.posr
                    .ambassadorOther-slider.swiper
                        .home-blog__arrows.df.aic.posa
                            .home-blog__arrow.home-blog__prev.cursor.transition
                            .home-blog__arrow.home-blog__next.cursor.transition
                        .swiper-wrapper
                            .swiper-slide
                                .team-item.posr
                                    a.team-item__link.posa.db(href="#")
                                    .team-item__img.posr
                                        img.db.posa(src="img/team-1.png", alt="")
                                    .team-item__title Вячеслав Богдан
                                    .team-item__text Предприниматель, сооснователь Flowwow
                            .swiper-slide
                                .team-item.posr
                                    a.team-item__link.posa.db(href="#")
                                    .team-item__img.posr
                                        img.db.posa(src="img/team-2.png", alt="")
                                    .team-item__title Григорий Добрыгин
                                    .team-item__text Режиссер, основатель независимого театрального проекта «а39»
                            .swiper-slide
                                .team-item.posr
                                    a.team-item__link.posa.db(href="#")
                                    .team-item__img.posr
                                        img.db.posa(src="img/team-3.png", alt="")
                                    .team-item__title Нино Шаматава
                                    .team-item__text Соосновательница и креативный директор Ushatava
                            .swiper-slide
                                .team-item.posr
                                    a.team-item__link.posa.db(href="#")
                                    .team-item__img.posr
                                        img.db.posa(src="img/team-4.png", alt="")
                                    .team-item__title Ксения Уварова
                                    .team-item__text Соосновательница и CEO Ushatava
        
        include ../includes/_contact2.pug