extends ../includes/_template.pug

block content

    .color-wrapper.violet-block.index.page-single

        .left-line
            span.accent-color Искусство

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/art-bg.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Искусство
                            .single-cats__item.dif.aic Выставки
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color Недооценённое искусство: самое интересное с выставки «Эмерджентность красоты»

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Город
                        li В Казани все есть. 41 летняя веранда и терраса города
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.single-content__title.accent-color Экспозиция, всю красоту которой едва вмещают два этажа ГМИИ РТ, объединяет мозаичные работы мастеров из разных стран. Яркая россыпь стеклянных пазлов, старинные куклы, футуристические инсталляции и глубокие смыслы.
                        .single-content__list.reverse
                            .single-content__block
                                img(src="img/art-first.png", alt="")
                            .single-content__block «Эмерджентность красоты» — это не скучная музейная выставка, а буйство цвета и безумие фантазии. Произведения для экспозиции предоставил бизнесмен и меценат Исмаил Ахметов - крупнейший в мире коллекционер мозаик считает, что это недооценённое искусство, поэтому активно продвигает его в массы. В Казани уже проходили выставки коллекции Ахметова, в том числе и бесплатные.
                        h3 Что на этот раз?
                        p В этот раз в ГМИИ представлено около 60 экспонатов от художников из России, Италии и Японии. Работы мастеров разделены на две взаимодополняющие части. Сперва посетители музея попадают в «Элизиум», где построен лабиринт с райскими птицами и рыбами, а также гигантская инсталляция с трубами и, простите, золочёным писсуаром. Весь «Элизиум» — это яркий аттракцион для детей и взрослых: и тем, и другим будет интересно бродить по закоулкам инсталляции и рассматривать каждый кусочек мозаичных гигантских труб.
                        
                        .single-content__slider-wrapper.posr(data-slider="1")
                            .single-content__slider-top Подпись к картинке
                            .single-content__slider-wrapper.posr
                                .single-content__slider.swiper
                                    .single-content__slider-arrows.df.aic.posa
                                        .single-content__slider-arrow.prev.cursor.transition
                                        .single-content__slider-arrow.next.cursor.transition
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                .single-content__thumb.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/thumb.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/thumb-2.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/thumb.png", alt="")
                            .single-content__slider-text Фото: Галина Овчинникова

                        p Вторая часть выставки называется «Алхимия» и начинается с кукольного домика, рассматривая который ты не впадаешь в детство, а напрягаешься — как-то жутковато автор передал свою идею. Второй этаж более тёмный, с глубокой философией. Например, здесь есть экспонат «Гроб Малевича» (ищите его в самом конце экспозиции).
                        .single-content__blockqoute#b3
                            .single-content__blockqoute-left
                                img.single-content__blockqoute-img(src="img/blockqoute.png", alt="")
                                .single-content__blockqoute-name Алина Радунская основательница  Mental Health  Film Festival
                            .single-content__blockqoute-text «Изначально офорт был создан для возможности тиражирования, а сейчас перешел в разряд элитарной графики из-за своей трудоемкости.»
                        .single-content__photos.posr
                            .single-content__photos-text Подпись к картинке
                            .single-content__photos-wrapper.posr
                                .swiper.single-content__photos-slider
                                    .single-content__photos-arrow.prev.cursor
                                    .single-content__photos-arrow.next.cursor
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/art-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/art-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/art-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/art-slider.png", alt="")
                        .single-content__list
                            .single-content__block
                                img(src="img/art-last.png", alt="")
                            .single-content__block Не нужно долго рассуждать над художественными доминантами и центром внимания, искать тайный смысл и потаённые послания в работах. Мы предлагаем просто насладиться этой красотой, выполненной в самой разной мозаичной технике. Выставка продолжит работу до 8 сентября 2024 года. Входной билет стоит 500 рублей, посетители до 18 лет проходят бесплатно, до 14 лет только в сопровождении взрослых.
                        figure
                            img(src="img/art-bottom.png", alt="")
                            figcaption Фото: Галина Овчинникова

                    
                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

    section.other-blog
        .container
            .home-blog__title.center Может быть инетресно
            .city-items.row
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-3.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-2.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

        include ../includes/_contact.pug