extends ../includes/_template.pug

block content

    .color-wrapper.dark-block.index

        .left-line
            span.accent-color Новости

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова


        section.article
            .container
                .article-center.article-margin
                    .breadcrumbs
                        .container
                            ul.breadcrumbs-list
                                li
                                    a(href="#") Главная
                                li
                                    a(href="#") Новости
                                li В баре «Соль» пройдет шоукейс лейбла Yummy Music
                    .article-top.posr.df.direction
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                        .article-top__wrapper.df.aic.jcsb
                            .article-top__date 11 июля 2024 в 16:19
                            .article-top__category.dif.aic Новости
                            .article-top__lang.df.aic
                                a.active(href="#") РУС
                                span
                                a(href="#") ТАТ
                        h1.article-title В баре «Соль» пройдет шоукейс лейбла Yummy Music
                .article-wrapper.posr
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp
                    .article-center.article-margin
                        .article-content
                            p 18 августа татарский инди-лейбл Yummy Music продолжит серию летних концертов в «Соли». Здесь выступят Айрат Хайруллин, Elina, Al Su, АлияНур и K3dert.
                            small Немного подробнее об артистах:
                            ul
                                li Айрат Хайруллин — исполнитель, родившийся в Сармановском районе и создающий песни о чувствах в жанре инди-поп. Он сам пишет все свои аранжировки, инструменты и голос;
                                li Elina — профессиональная оперная певица Элина Ситдикова, пишет песни и раскрывает в них темы любви к себе и отношения к окружающему миру. Саунд-продюсер Дмитрий Крапивин — участник дуэта Urtic — создает для ее песен электронное звучание;
                                li Al Su — татарская инди-артистка, пишущая песни в жанре арт-поп. Она работает вместе с саунд-продюсером Маратом Шаяхметовым — гитаристом групп Gauga и Juna. «Мы не привязываем себя к определенному направлению, а очень любим эксперименты. Марат обожает окунать созданные мной гармонии в разные краски, собирать аранжировку из множества мелких элементов. В итоге получается стильное, насыщенное полотно: что-то очень про чувства, искренность, немного женское бунтарское. В общем, нужно просто слушать и переслушивать», — рассказывает Алсу;
                                li АлияНур — исполнительница песен на двух языках в жанрах хип-хоп и r&b. Также она пишет поп-музыку;
                                li K3dert (Көчдәрт) — казанское трио, поющее песни на татарском языке. Они не придерживаются определенного жанра.
                            p
                                b Концерт начнется в 19:00. Первая партия билетов стоит 600 рублей, дальше цена вырастет до 800 рублей, а в день концерта — до 1000 рублей.
                    //-.article-img
                    //-    img.article-img__item.img(src="img/article.png", alt="")
                    //-    .article-img__text Фото: Галина Овчинникова
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем новостям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                                .article-other__item-date 3 августа
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title Свобода воли vs  нейробиология—  как люди выбирают? 
                                .article-other__item-date 3 августа
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной
                                .article-other__item-date 3 августа

        include ../includes/_contact.pug