extends ../includes/_template.pug

block content

    .color-wrapper.blue-block.index

        .left-line
            span.accent-color О проекте


        main.author
            .container
                .author-top.posr
                    .author-wrapper
                        ul.breadcrumbs-list
                            li
                                a(href="#") Главная
                            li
                                a(href="#") О проекте
                            li Анастасия Чернядьева
                        img.author-img.db.posa(src="img/author.png", alt="")
                        h1.author-title Анастасия Чернядьева
                        .author-subtitle Пишет статьи для журнала и занимается редактурой текстов других авторов. Любит свою работу, потому что она позволяет развиваться как профессионалу и узнавать много нового каждый день. Кроме того, Настя любит общаться с разными людьми — авторами, коллегами, читателями — и делиться своими знаниями и опытом.
                        .contact-links
                            a.contact-link.btn(href="#" target="_blank") Вконтакте
                            a.contact-link.btn(href="#" target="_blank") Telegram
                            a.contact-link.btn(href="#" target="_blank") Instagram*
                .cats-wrapper
                    .cats.df.aic
                        .cats-block
                            a.cats-item.btn.active(href="#") Все
                        .cats-block
                            a.cats-item.btn(href="#") Новое место
                        .cats-block
                            a.cats-item.btn(href="#") Герои
                        .cats-block
                            a.cats-item.btn(href="#") Еда
                        .cats-block
                            a.cats-item.btn(href="#") Город
                        .cats-block
                            a.cats-item.btn(href="#") Прошлое
                
                .author-items.row
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-2.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-3.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-2.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-3.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/city-big.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-3.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                    .author-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

                .city-navs.df.aic.jcsb.fxw
                    a.city-btn.btn(href="#") Показать еще
                    .pagination.df.aic.jcc
                        a.prev(href="#") 
                        a(href="#") 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") 4
                        a.next(href="#")
        
        include ../includes/_contact.pug