extends ../includes/_template.pug

block content

    .color-wrapper.gray-block.index

        .left-line
            span.accent-color Новости

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова


        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li Новости

        main.page-top
            .container
                .page-top__list.df.aic.fxw.jcsb
                    h1.page-top__title.accent-color Новости
                    .page-top__subtitle Рассказываем о главных событиях нашего города в режиме реального времени.

        section.blog
            .container
                .blog-wrapper

                    .blog-block
                        .blog-bold Сегодня
                        .blog-items
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 1 минуту назад
                                .blog-item__name.transition В баре «Соль» пройдет шоукейс лейбла Yummy Music 
                                .blog-item__img
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 13:00
                                .blog-item__name.transition На стройке в Казани спасли краснокнижного козодоя
                                .blog-item__img
                                    img.img(src="img/page-blog-1.png", alt="")
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 12:50
                                .blog-item__name.transition Премьера: трек zuhur татарской группы Milli Mon
                                .blog-item__img
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 12:30
                                .blog-item__name.transition В лесопарке Лебяжье пройдет экофестиваль «Вместе просто»
                                .blog-item__img
                                    img.img(src="img/page-blog-2.png", alt="")
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 11:20
                                .blog-item__name.transition Расписание: мероприятия на Голубых озерах в августе
                                .blog-item__img
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 10:15
                                .blog-item__name.transition В Казани пройдет фестиваль современной корейской танцевальной культуры
                                .blog-item__img
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 9:45
                                .blog-item__name.transition В выходные в Татарстане прогнозируют дожди и усиленный ветер
                                .blog-item__img
                                    img.img(src="img/page-blog-3.png", alt="")

                    .blog-block
                        .blog-bold 8 августа, вчера
                        .blog-items
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date Вчера 14:45
                                .blog-item__name.transition Певица Зуля Камалова открыла сбор средств на свое лечение от рака
                                .blog-item__img
                                    img.img(src="img/page-blog-4.png", alt="")
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date Вчера 13:00
                                .blog-item__name.transition В Галерее современного искусства откроется фотовыставка, посвященная людям с деменцией
                                .blog-item__img
                                    img.img(src="img/page-blog-5.png", alt="")
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date Вчера 12:50
                                .blog-item__name.transition Возможность: сдать книгу и помочь Детской городской больнице Йошкар-Олы
                                .blog-item__img
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date Вчера 12:30
                                .blog-item__name.transition Мэрия Казани прокомментировала установку шумозащитных экранов возле Миллениума
                                .blog-item__img

                    .blog-block
                        .blog-bold 7 августа
                        .blog-items
                            .blog-item.df.aifs.posr
                                a.blog-item__link.db.posa(href="#")
                                .blog-item__date 7 августа 15:43
                                .blog-item__name.transition В переехавшей галерее «БИЗОN» откроются две выставки

                    .city-navs.df.aic.jcsb.fxw
                        a.city-btn.btn(href="#") Показать еще
                        .pagination.df.aic.jcc
                            a.prev(href="#") 
                            a(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                            a.next(href="#")
        
        include ../includes/_contact2.pug