extends ../includes/_template.pug

block content

    .color-wrapper.blue-block.index.page-single

        .left-line
            span.accent-color Город

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single.single-city
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/city-banner.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Город
                            .single-cats__item.dif.aic Новое место
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color В Казани все есть. 41 летняя веранда и терраса города

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Город
                        li В Казани все есть. 41 летняя веранда и терраса города
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.single-content__title.accent-color Рассказы об истории регионального пива, экскурсия по производству и обязательная дегустация
                        p 8 августа при заводе «Белый Кремль» в Чистополе открылся фирменный магазин-музей, посвященный пивоварению. Хоть сама история создания татарстанского пива насчитывает 151 год, это первый подобный музей в республике. «Инде» побывал в нем и рассказывает, когда в регионе начали варить крафтовое пиво (спойлер: очень давно), откуда появилась пивоварня «Красный Восток» и как Чистополь остался без света из-за нового пивоваренного завода.
                        figure.full-width
                            img(src="img/city-1.png", alt="")
                            figcaption Фото: Галина Овчинникова

                        h3 151 год истории татарстанского пивоварения
                        p Магазин-музей представляет собой здание со стеклянным фасадом, встроенное прямо в цеха пивоваренного завода в индустриальном парке «Чистополь» (1,2 километра от города). Внутри — большая комната, разделенная на две зоны. Первая, поменьше, — это магазин, где продается вся продукция компании «Татспиртпром», включая пиво, сваренное здесь. Остальное пространство отдано музею.
                        
                        .ambassador-slider__wrapper.posr
                            .ambassador-slider.swiper
                                .ambassador-arrow.ambassador-arrow__prev.posr.posa.cursor
                                .ambassador-arrow.ambassador-arrow__next.posr.posa.cursor
                                .swiper-wrapper
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/city-2.png", alt="")
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/ambassador.png", alt="")
                        
                        .ambassador-info
                            .ambassador-info__list.df.aifs
                                .ambassador-info__left
                                    .ambassador-info__title 2023 <br>Сэл Андерсон  (Великобритания)  60&nbsp;минут
                                    .ambassador-info__subtitle Когда: 10 октября в 19:00 <br>Где: ЦСК «Смена», ул. Б. Шахиди, 7 Вход: 350 ₽
                                .ambassador-info__text Собственное производство, апсайкл-коллекции  и&nbsp;«интеллектуальная женственность» в Corstore17  Собственное производство, апсайкл-коллекции  и «интеллектуальная женственность» в Corstore17 Собственное производство, апсайклколлекции и «интеллектуальная женственность»  в Corstore17 Собственное производство, апсайклколлекции и «интеллектуальная женственность»  в Corstore1
                        p Музей открывает фотозона, в которой отражена история известных в Татарстане и Волжско-Камском регионе пивоварен. Тут можно узнать, что до 1867 года пивоварение у нас было представлено только ремесленными мастерскими, которые варили то, что сегодня бы назвали крафтом: небольшие партии напитков для одной улицы или района. История промышленного производства начинается с выходца из известной немецкой семьи Петцольд, прусского подданного Карла-Вильгельма-Эдуарда-Гейнриха Петцольда, который в 1867 году основал в Казани пивоваренный завод. Его дело продолжил старший сын Оскар Петцольд. Пиво, которое он выпускал на заводе «Восточная Бавария» на улице Тукая в Старо-Татарской слободе, завоевало популярность по всей Казанской губернии и далеко за ее пределами. <br><br>В 1892-м часть производственных мощностей завода Оскара Петцольда выкупают наследники Василия Александрова, знаменитого пивовара из Вятской губернии. В 1914 году завод Александровых получал золотые медали на выставках во Флоренции, Лондоне, Париже, Брюсселе, Амстердаме и Бордо. <br><br>В 1914 году, когда Николай II после начала Первой мировой объявил «сухой закон», казанские производства перепрофилировали и стали выпускать прохладительные напитки — квасы и лимонады. Во время революции 1917 года семья Александровых эмигрировала из страны, а в 1918 году завод передали Совнаркому сельского хозяйства. В 1922 году все казанские пивзаводы советская власть объединила в новое социалистическое предприятие под названием «Красный Восток». А в 1981-м в связи с необходимостью увеличить мощности производства пива в городе Брежневе (сегодня Набережные Челны) построили вторую татарстанскую пивоварню. Ее назвали «Набережночелнинский пивобезалкогольный завод» (сейчас «Булгарпиво»). В 2006-м комплекс заводов «Красный Восток» перекупила турецкая компания Efes, и он превратился в один из четырех филиалов компании в России. А в 1994 году пивоварня «Булгарпиво» перешла под контроль чувашской компании «Букет Чувашии». Теперь нишу локального пивного производства занял проект Татспиртпрома «Белый Кремль». На чистопольском заводе выпускают пять видов пива: «Старая Казань», «Белый Кремль», «Кама», «Жигулевское» и CZ. Первую партию товара отгрузили в начале августа 2018 года.
                        .single-content__blockqoute#b3
                            .single-content__blockqoute-left
                                img.single-content__blockqoute-img(src="img/blockqoute.png", alt="")
                                .single-content__blockqoute-name Мария Смольянинова художница
                            .single-content__blockqoute-text «Идеей открыть при заводе магазин-музей мы обязаны городу. Чистополь находится в центре республики, на берегу Камы: это очень старый город с богатой историей, здесь развит круизный туризм. Музей изначально был внесен в проект завода — мы надеемся, что это поможет городу увеличить поток туристов. На прошлой неделе здесь было до500 посетителей, потому что летом в Татарстан часто приезжают.»
                        figure.full-width
                            img(src="img/city-3.png", alt="")
                            figcaption Фото: Галина Овчинникова
                        h4 Основные ингредиенты, которые используются для приготовления пива
                        .single-city__info.posr
                            .single-city__info-item.df
                                .single-city__info-title ВОДА
                                .single-city__info-text Музей открывает фотозона, в которой отражена история известных в Татарстане и Волжско-Камском регионе пивоварен. Тут можно узнать, что до 1867 года пивоварение у нас было представлено только ремесленными мастерскими, которые варили то, что сегодня бы назвали крафтом: небольшие партии напитков для одной улицы или района. История промышленного производства начинается с выходца из известной немецкой семьи Петцольд, прусского подданного Карла-Вильгельма-Эдуарда-Гейнриха Петцольда, который в 1867 году основал в Казани пивоваренный завод. Его дело продолжил старший сын Оскар Петцольд. Пиво, которое он выпускал на заводе «Восточная Бавария» на улице Тукая в Старо-Татарской слободе, завоевало популярность по всей Казанской губернии и далеко за ее пределами.<br><br>В 1892-м часть производственных мощностей завода Оскара Петцольда выкупают наследники Василия Александрова, знаменитого пивовара из Вятской губернии. В 1914 году завод Александровых получал золотые медали на выставках во Флоренции, Лондоне, Париже, Брюсселе, Амстердаме и Бордо.
                            .single-city__info-item.df
                                .single-city__info-title СОЛОД
                                .single-city__info-text Музей открывает фотозона, в которой отражена история известных в Татарстане и Волжско-Камском регионе пивоварен. Тут можно узнать, что до 1867 года пивоварение у нас было представлено только ремесленными мастерскими, которые варили то, что сегодня бы назвали крафтом: небольшие партии напитков для одной улицы или района. История промышленного производства начинается с выходца из известной немецкой семьи Петцольд, прусского подданного Карла-Вильгельма-Эдуарда-Гейнриха Петцольда, который в 1867 году основал в Казани пивоваренный завод. Его дело продолжил старший сын Оскар Петцольд. Пиво, которое он выпускал на заводе «Восточная Бавария» на улице Тукая в Старо-Татарской слободе, завоевало популярность по всей Казанской губернии и далеко за ее пределами.<br><br>В 1892-м часть производственных мощностей завода Оскара Петцольда выкупают наследники Василия Александрова, знаменитого пивовара из Вятской губернии. В 1914 году завод Александровых получал золотые медали на выставках во Флоренции, Лондоне, Париже, Брюсселе, Амстердаме и Бордо.
                            .single-city__info-blue Свобода воли vs  нейробиология  — как люди  выбирают? Свобода  воли vs  нейробиология  — как люди  выбирают? Свобода  воли vs  нейробиология  — как люди  выбирают?
                        blockquote «Свобода воли vs нейробиология — как  люди выбирают? Свобода воли vs  нейробиология — как люди выбирают?  Свобода воли vs нейробиология — как  люди выбирают?»
                        .single-city__button.df.aic.jcsb
                            .single-city__button-title Тест: «Какой ты пивовар»
                            a.single-city__button-right.home-blog__item-btn.btn(href="#") Начать тест
                        figure
                            img(src="img/city-4.png", alt="")
                            figcaption Фото: Галина Овчинникова
                        .single-city__item
                            .single-city__title Стоимость продукции
                            .single-city__price
                                .single-city__price-item
                                    .single-city__price-left Светлое пиво
                                    .single-city__price-line
                                    .single-city__price-right 100 рублей
                                .single-city__price-item
                                    .single-city__price-left Светлое пиво
                                    .single-city__price-line
                                    .single-city__price-right 120 рублей
                                .single-city__price-item
                                    .single-city__price-left Безалкогольное пиво
                                    .single-city__price-line
                                    .single-city__price-right 140 рублей
                                .single-city__price-item
                                    .single-city__price-left Разливное пиво
                                    .single-city__price-line
                                    .single-city__price-right 200 рублей
                                .single-city__price-item
                                    .single-city__price-left Живое пиво
                                    .single-city__price-line
                                    .single-city__price-right 200 рублей
                        .single-city__item
                            .single-city__title Где находится
                            .single-city__contact
                                .single-city__contact-item.df.aifs
                                    .single-city__contact-title АДРЕС
                                    .single-city__contact-text Индустриальный парк «Чистополь» (1,2 километра от города Чистополя в&nbsp;сторону поселка Юлдуз)
                                .single-city__contact-item.df.aifs
                                    .single-city__contact-title РЕЖИМ <br>РАБОТЫ
                                    .single-city__contact-text Ежедневно с 10:00 до 22:00 <br>Экскурсии ежедневно с 10:00 до 17:00
                                .single-city__contact-item.df.aifs
                                    .single-city__contact-title ТЕЛЕФОН
                                    .single-city__contact-text
                                        a(href="tel:+79272443666") +7 (927) 244-36-66
                                .single-city__contact-item.df.aifs
                                    .single-city__contact-title ЦЕНА
                                    .single-city__contact-text входной билет с экскурсией — 100 ₽, <br>входной билет с экскурсией и дегустацией — 250 ₽
                        
                        figure.full-width
                            img(src="img/city-5.png", alt="")
                            figcaption Фото: Галина Овчинникова

                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

    section.other-blog
        .container
            .home-blog__title.center Может быть инетресно
            .city-items.row
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-3.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-2.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

        include ../includes/_contact.pug