extends ../includes/_template.pug

block content

    main.main
        .container
            .main-wrapper.posr
                .main-slider.swiper
                    .main-next.posa.cursor
                    .swiper-wrapper
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                .main-item__subtitle Кирилл Сафронов
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                .main-item__subtitle Что посмотреть
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                .main-item__subtitle Кирилл Сафронов
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                .main-item__subtitle Что посмотреть
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                        .swiper-slide
                            .main-item.posr
                                a.main-item__link.db.posa(href="#")
                                .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

    

    .breadcrumbs
        .container
            ul.breadcrumbs-list
                li
                    a(href="#") Главная
                li Рекламодателям

    main.page-top.page-clients
        .container
            .page-top__list.df.aic.fxw.jcsb
                h1.page-top__title.accent-color Рекламодателям
                .page-top__subtitle Рассказываем об истории, личностях, гастрономии, культуре, событиях, стиле, развлечениях, бизнесе и людях. Мы любим показывать хорошее. Выбираем то, что сделает жизнь лучше: развлечет, порадует, вдохновит, разнообразит. Любой наш текст — комфортная среда, в которой нет места страху и тревоге.

    section.clients
        .container
            .clients-top
                .clients-top__list.df.fxw
                    .clients-top__item.df.direction.jcsb
                        .clients-top__bold Кто нас читает
                    .clients-top__item.df.direction.jcsb
                        .clients-top__text Ядро читателей
                        .clients-top__numbers.df.fxw
                            .clients-top__number
                                .clients-top__title 18-45
                                .clients-top__text.clients-top__mt лет
                            .clients-top__number
                                .clients-top__title 60%
                                .clients-top__text.clients-top__mt женщин
                            .clients-top__number
                                .clients-top__title 40%
                                .clients-top__text.clients-top__mt мужчин
                .clients-top__list.df.fxw
                    .clients-top__item.df.direction.jcsb
                        .clients-top__text Основные сферы занятости
                        .clients-top__text.clients-top__mobile Сфера услуг, маркетинг, дизайн, гастрономия, культура, IT, реклама
                    .clients-top__item.df.direction.jcsb
                        .clients-top__text.dark-color Аудитория на сайте
                        .clients-top__bottom
                            .clients-top__title 100 000+
                            .clients-top__text.clients-top__mt человек
            .clients-center.df.jcsb
                .clients-center__content.df.direction
                    .clients-center__title Создаем рекламу, которая нравится людям
                    .clients-center__text Мы умеем находить интересные моменты в любой теме, продукте, компании или услуге.У нас уже более 600 реализованных проектов для крупных международных, федеральных и местных брендов. Среди наших клиентов — компании, работающие для людей.Мы не занимаемся политикой и не рекламируем политические партии.
                img.clients-bottom__img.img(src="img/lorem.png", alt="")
            .clients-price
                .clients-price__title Прайс
                .clients-price__list.df.fxw
                    .clients-price__item
                        .clients-price__item-title Спецпроект
                        .clients-price__item-subtitle от 70 000 ₽
                        ul.clients-price__item-list
                            li Проект на тему, близкую бренду, но не рассказывающий напрямую о его продуктах, услугах или сотрудниках
                            li Рекламодатель присутствует в начале текста, где объясняется его роль в проекте, а также в конце, в специальной рекламной карточке
                            li Изображения готовит «Инде» по согласованным референсам
                            li До 10 000 знаков
                    .clients-price__item
                        .clients-price__item-title Промо
                        .clients-price__item-subtitle от 50 000 ₽
                        ul.clients-price__item-list
                            li Нескучная подача информации
                            li Можем использовать ваши изображения или сток
                            li Рекламодатель присутствует в начале текста, где объясняется его роль в проекте, а также в конце, в специальной рекламной карточке
                            li До 7 000 знаков
            .clients-bottom.df.jcsb
                .clients-bottom__left.df.direction
                    .clients-bottom__mobile.hide Создаем рекламу, которая нравится людям
                    .clients-bottom__text Готовы увеличить охват и привлечь новых клиентов? Свяжитесь с нами, чтобы обсудить детали сотрудничества.
                    .clients-bottom__box
                        a.clients-bottom__email.dif.link(href="mailto:ad@inde.io") ad@inde.io
                img.clients-bottom__img.img(src="img/lorem.png", alt="")

    section.other-blog
        .container
            .home-blog__title.center Реализованные проекты
            .city-items.row
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-3.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-2.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

    include ../includes/_contact2.pug