extends ../includes/_template.pug

block content

    .color-wrapper.blue-block.index.page-single

        .left-line
            span.accent-color Город

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/food.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Город
                            .single-cats__item.dif.aic Еда
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color В Казани все есть. 41 летняя веранда и терраса города

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Город
                        li В Казани все есть. 41 летняя веранда и терраса города
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.blue-title Литры фо-бо, прохладные коктейли и настойки на любой вкус.
                        p Жизнь постепенно возвращается в город. Хоть погода и нестабильна, казанские кондитерские, бары и рестораны спешат достать столики, зонтики и скамейки, чтобы обустроить веранды и террасы на свежем воздухе. «Инде» собрал все заведения, в которых можно пообедать или выпить коктейль под открытым небом. <br><br>Это первая часть гида — вторую вы найдете 
                            a(href="#") здесь.

                        .single-food

                            
                            .single-food__item
                                .single-food__item-top
                                    .single-food__item-title Бармузей Васи Ложкина
                                    .single-food__item-subtitle Неогреческая гастрономия от бренд-шефа Булата Камаева.
                                    .single-food__item-btn.btn
                                        span Читать подробнее
                                        b Скрыть
                                    ul.single-food__item-list
                                        li.accent-color шашлык из цыпленка в соусе из кефира или шрирачи, шашлык из телятины в устричном соусе, люля-кебаб из баранины;
                                        li.accent-color бифштексы, стейки, биточки, креветки, щучьи котлеты, пельмени, мороженое собственного приготовления, пироги и выпечка;
                                        li.accent-color во время майских праздников заказы принимают за 72 часа;
                                        li.accent-color бесплатная доставка от 1000 ₽;
                                        li.accent-color стоимость доставки при заказе до 1000 ₽ — по тарифам курьерской службы.
                                .single-food__item-contact.df.aifs
                                    .single-city__contact
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title АДРЕС
                                            .single-city__contact-text ул. Баумана, 36
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title РЕЖИМ <br>РАБОТЫ
                                            .single-city__contact-text Ежедневно с 12:00 до 0:00
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title ТЕЛЕФОН
                                            .single-city__contact-text
                                                a(href="tel:+79272443666") +7 (927) 244-36-66
                                    .single-food__item-soc
                                        a.contact-link.btn(href="#" target="_blank") Вконтакте
                                        a.contact-link.btn(href="#" target="_blank") Telegram
                                        a.contact-link.btn(href="#" target="_blank") Instagram*
                                .single-content__slider-wrapper.posr(data-slider="1")
                                    .single-content__slider-wrapper.posr
                                        .single-content__slider.swiper
                                            .single-content__slider-arrows.df.aic.posa
                                                .single-content__slider-arrow.prev.cursor.transition
                                                .single-content__slider-arrow.next.cursor.transition
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                        .single-content__thumb.swiper
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb-2.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                    .single-content__slider-text Фото: Галина Овчинникова
                            
                            
                            .single-food__item
                                .single-food__item-top
                                    .single-food__item-title Бармузей Васи Ложкина
                                    .single-food__item-subtitle Неогреческая гастрономия от бренд-шефа Булата Камаева.
                                    .single-food__item-btn.btn
                                        span Читать подробнее
                                        b Скрыть
                                    ul.single-food__item-list
                                        li.accent-color шашлык из цыпленка в соусе из кефира или шрирачи, шашлык из телятины в устричном соусе, люля-кебаб из баранины;
                                        li.accent-color бифштексы, стейки, биточки, креветки, щучьи котлеты, пельмени, мороженое собственного приготовления, пироги и выпечка;
                                        li.accent-color во время майских праздников заказы принимают за 72 часа;
                                        li.accent-color бесплатная доставка от 1000 ₽;
                                        li.accent-color стоимость доставки при заказе до 1000 ₽ — по тарифам курьерской службы.
                                .single-food__item-contact.df.aifs
                                    .single-city__contact
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title АДРЕС
                                            .single-city__contact-text ул. Баумана, 36
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title РЕЖИМ <br>РАБОТЫ
                                            .single-city__contact-text Ежедневно с 12:00 до 0:00
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title ТЕЛЕФОН
                                            .single-city__contact-text
                                                a(href="tel:+79272443666") +7 (927) 244-36-66
                                    .single-food__item-soc
                                        a.contact-link.btn(href="#" target="_blank") Вконтакте
                                        a.contact-link.btn(href="#" target="_blank") Telegram
                                        a.contact-link.btn(href="#" target="_blank") Instagram*
                                .single-content__slider-wrapper.posr(data-slider="2")
                                    .single-content__slider-wrapper.posr
                                        .single-content__slider.swiper
                                            .single-content__slider-arrows.df.aic.posa
                                                .single-content__slider-arrow.prev.cursor.transition
                                                .single-content__slider-arrow.next.cursor.transition
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                        .single-content__thumb.swiper
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb-2.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                    .single-content__slider-text Фото: Галина Овчинникова

                            
                            .single-food__item
                                .single-food__item-top
                                    .single-food__item-title Бармузей Васи Ложкина
                                    .single-food__item-subtitle Неогреческая гастрономия от бренд-шефа Булата Камаева.
                                    .single-food__item-btn.btn
                                        span Читать подробнее
                                        b Скрыть
                                    ul.single-food__item-list
                                        li.accent-color шашлык из цыпленка в соусе из кефира или шрирачи, шашлык из телятины в устричном соусе, люля-кебаб из баранины;
                                        li.accent-color бифштексы, стейки, биточки, креветки, щучьи котлеты, пельмени, мороженое собственного приготовления, пироги и выпечка;
                                        li.accent-color во время майских праздников заказы принимают за 72 часа;
                                        li.accent-color бесплатная доставка от 1000 ₽;
                                        li.accent-color стоимость доставки при заказе до 1000 ₽ — по тарифам курьерской службы.
                                .single-food__item-contact.df.aifs
                                    .single-city__contact
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title АДРЕС
                                            .single-city__contact-text ул. Баумана, 36
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title РЕЖИМ <br>РАБОТЫ
                                            .single-city__contact-text Ежедневно с 12:00 до 0:00
                                        .single-city__contact-item.df.aifs
                                            .single-city__contact-title ТЕЛЕФОН
                                            .single-city__contact-text
                                                a(href="tel:+79272443666") +7 (927) 244-36-66
                                    .single-food__item-soc
                                        a.contact-link.btn(href="#" target="_blank") Вконтакте
                                        a.contact-link.btn(href="#" target="_blank") Telegram
                                        a.contact-link.btn(href="#" target="_blank") Instagram*
                                .single-content__slider-wrapper.posr(data-slider="3")
                                    .single-content__slider-wrapper.posr
                                        .single-content__slider.swiper
                                            .single-content__slider-arrows.df.aic.posa
                                                .single-content__slider-arrow.prev.cursor.transition
                                                .single-content__slider-arrow.next.cursor.transition
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                        .single-content__thumb.swiper
                                            .swiper-wrapper
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb-2.png", alt="")
                                                .swiper-slide
                                                    img(src="img/big-slider.png", alt="")
                                                .swiper-slide
                                                    img(src="img/thumb.png", alt="")
                                    .single-content__slider-text Фото: Галина Овчинникова

                            a.single-food__btn.btn(href="#") Показать еще

                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

    section.other-blog
        .container
            .home-blog__title.center Может быть инетресно
            .city-items.row
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-3.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-2.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

        include ../includes/_contact.pug