extends ../includes/_template.pug

block content

    .color-wrapper.turquoise-block.index.page-single

        .left-line
            span.accent-color Герои

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/heroes-1.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Герои
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color «Пока вал не прокатит бумагу с доской, ты не знаешь, что получилось». 

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Герои
                        li «Пока вал не прокатит бумагу с доской, ты не знаешь, что получилось». 
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.single-content__title.accent-color Художница Мария Смольянинова — о печатной графике, интуиции и музыке городов.
                        p 8 марта в Казанском Кремле открылась выставка «Эпифании Марии Смольяниновой». Московская художница работает в технике офорта — одной из разновидностей печатной графики, которая появилась в XVI веке и технологически не менялась с тех пор. С этой техникой экспериментировали Пабло Пикассо, Эдгар Дега, Альбрехт Дюрер, Рембрандт и многие другие художники, но с годами офорт потерял в популярности из-за сложного и долгого подготовительного процесса.  <br>Перед открытием казанской выставки мы поговорили с Марией о процессе создания работ, технологических особенностях офорта, современном состоянии печатной графики и о том, что ее вдохновляет.
                        figure.full-width
                            img(src="img/heroes-2.png", alt="")
                            figcaption Фото: Галина Овчинникова
                        h3 Почему вы занимаетесь именно печатной графикой?
                        p У нее богатые возможности: попробовав однажды, невозможно отказаться. Я в печатной графике с 2008 года — мне даже удивительно, что так долго. Начала в институте: окончила Суриковский, а до этого училась в Московском академическом художественном лицее при Российской академии художеств (ранее Московская средняя художественная школа. — Прим. «Инде») на живописца. После очень серьезной академической программы мне хотелось попробовать что-то новое. В частности, графические техники, о которых я только слышала и видела работы на выставках, но не представляла, как это делается. Первой техникой стал офорт, и я абсолютно влюбилась в него, хотя параллельно училась в мастерской линогравюры (для печати в технике линогравюры изображение вырезается на линолеуме, а в офорте — на металлической доске. — Прим. «Инде»). <br><br>Землепользователи направляют в комитет внешнего благоустройства заявки на обследование зеленых насаждений на своих земельных участках. Специалисты комитета проводят обследование и подготавливают акт — с заключением о вырубке аварийных деревьев и обрезке деревьев в хорошем состоянии. <br><br>После землепользователи заключают договоры со специализированными организациями. Их сотрудники обрезают деревья ранней весной или поздней осенью, практически каждый день срубают аварийные, по сформированным комитетом актам, и сажают тысячи новых деревьев в год. <br><br>Сделать что-то самостоятельно с зеленым фондом землепользователи не могут, потому что он принадлежит городу. Даже если когда-то вы посадили дерево во дворе — неважно, законно или нет, — срубить его по своему желанию уже не сможете. Порядок действий примерно такой: запрос, акт, планирование работ и их выполнение.
                        .single-content__blockqoute#b3
                            .single-content__blockqoute-left
                                img.single-content__blockqoute-img(src="img/blockqoute-2.png", alt="")
                                .single-content__blockqoute-name Мария Смольянинова художница
                            .single-content__blockqoute-text Изначально офорт был создан для возможности тиражирования, а сейчас перешел в разряд элитарной графики из-за своей трудоемкости. Я практически не делаю тиражи, только авторскую печать — пока ею занимаешься, происходит много экспериментов. Ты создаешь форму, а потом добиваешься разных эффектов, но не ради них самих, а чтобы точнее выразить идею.
                        .ambassador-slider__wrapper.posr
                            .ambassador-slider.swiper
                                .ambassador-arrow.ambassador-arrow__prev.posr.posa.cursor
                                .ambassador-arrow.ambassador-arrow__next.posr.posa.cursor
                                .swiper-wrapper
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/heroes-3.png", alt="")
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/ambassador.png", alt="")
                        h4 А как выглядит сам процесс создания работ?
                        p Все начинается с какого-то импульса. Ты его чувствуешь и понимаешь, что нужно транслировать. Я веду дневники с маленькими эскизами и записями. Обычно фиксирую самые важные моменты — то, что меня как-то зацепило. Потом делаю эскизы, произвожу отбор, думаю, как лучше. Финальный вариант углем или карандашом рисую в размер и затем перевожу на доску. Причем я не буквально копирую свой предварительный рисунок: это тоже творческий процесс. <br><br>Для каждой серии я ищу свой пластический язык и материал. Не думаю о том, как работа выглядит со стороны, — мне хочется найти язык, отражающий определенное состояние и замысел. Например, в сериях, посвященных городам, мне хотелось выразить звук Петербурга и Москвы. Для этого я использовала разные по форме и манере средства. <br><br>В офорте очень много техник. Изначально это был травленый штрих [основная манера офорта, изображение создается офортными иглами различной толщины и сечения], потом появилась акватинта [техника глубокой печати, в которой мастер работает не штрихом, а пятном], а в XX веке мягкий лак [офортную доску покрывают специальным лаком, затем кладут лист бумаги и карандашом выполняют рисунок. Бумагу снимают, и на доске остается изображение, потому что в местах нажатия карандаша лак легко прилипал к бумаге. Готовый оттиск напоминает акварель] и меццо-тинто [доску обрабатывают специальными инструментами, чтобы она стала шероховатой, и затем полируют светлые участки изображения]. Но меццо-тинто и сухая игла, если профессионально говорить, не относятся к офорту. Офорт — это непосредственно то, что травится кислотой. И в открытом травлении широчайший диапазон возможностей. Я работаю на разных металлах. На каждом открытое травление будет вести себя по-своему. Все зависит от свойств материала: например, медь более мягкая, сталь — жесткая. Мне очень нравится, что в офорте есть заранее продуманная режиссура, он требует сосредоточенности. В общем-то нельзя ошибаться, потому что ничего не получится исправить, только повторять весь длительный процесс заново.
                        figure.full-width
                            a(href="https://www.youtube.com/watch?v=7X8II6J-6mU" data-fslightbox="video") 
                                img(src="img/heroes-4.png", alt="")
                            figcaption Подпись к видео
                        h5 Герой ваших серий — город. Вы будто ловите впечатление от мест и потом переносите их в графические листы. Как город и поездки вплетены в вашу повседневность?
                        p Я люблю гулять, наблюдать и чувствовать города. Ощущение от мест сложно сформулировать словами. Когда делала серию, посвященную Петербургу, я увлекалась поэзией и хотела как-то связать работы с Бродским. Тогда еще не было музея «Полторы комнаты», но был фонд по созданию музея. Я подружилась с ребятами, которые там работали, и попала в будущее пространство. Мне казалось, что я почувствую нечто особенное и у меня получится сделать что-то по поводу Бродского, но ничего не вышло. Зато получилась целая цепочка удивительных и счастливых знакомств. Потом я просто гуляла по Петербургу, но никак не могла найти язык, чтобы выразить чувства. Уже в Москве я пришла к квадрату 31 на 31 см, к лаконичности и звуку. Работы в серии музыкальные, в них есть определенный ритм.<br><br>А потом возникла серия такого же камерного формата, посвященная Москве. У нее совсем другое ощущение и совсем другой звук. Москва разная, не такая цельная, как Петербург, и в этом ее прелесть. Иногда устаешь от этой фрагментарности, но порой она, наоборот, становится важной и ощущается как музыкальная импровизация. Так получилась серия «Московский регтайм».
                        .single-heroes.df.jcsb
                            .single-heroes__item
                                img.single-heroes__item-img(src="img/heroes-5.png", alt="")
                                .single-heroes__item-text Весна в «Красном доме», 2016 <br>Из серии «Московский регтайм»<br>Бумага, офорт, 31×31 см
                            .single-heroes__item
                                img.single-heroes__item-img(src="img/heroes-6.png", alt="")
                                .single-heroes__item-text Утро на Тверской, 2016 <br>Из серии «Московский регтайм» <br>Бумага, офорт, 31×31 см
                        h6 Что будет на вашей выставке в Казани?
                        p Новая серия «Вечный пейзаж», которую я начала в 2020 году, когда долгое время сидела в помещении, а потом появилась возможность выехать за город. Была весна, я чувствовала что-то невероятное, будто бы все начинается заново. Я поняла, насколько я, как человек, маленькая в сравнении с простором природы вокруг. Мне захотелось выразить это — так и появилась серия. Она еще не закончена, буду показывать ее с открытым финалом. <br><br>Также будет несколько московских серий и по одной посвященной Петербургу, Грузии, Свияжску. Еще — сквозной цикл о дороге. Так сложилось, что мой первый офорт в 2008 году был посвящен железной дороге. Пути и пересекающиеся провода наполнили мне нотный стан или иероглифы. Я стала развивать эту тему и делать лист с дорогой каждый раз, когда заканчиваю серию. <br><br>Впервые приоткрою свой творческий процесс и покажу несколько досок, созданных на разных стадиях работы над циклом по Свияжску.

                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

    section.other-blog
        .container
            .home-blog__title.center Может быть инетресно
            .city-items.row
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-3.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-2.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                            .home-blog__box-subtitle Размышления путешественника о городе.
                            a.home-blog__item-btn.btn(href="#") Перейти
                .city-items__block.col
                    .home-blog__box.posr.df.direction
                        .home-blog__cat.dif.aic.posa Путешествия
                        a.home-blog__box-img.posr.overflow.db(href="#")
                            img.img(src="img/blog-4.png", alt="")
                        .home-blog__box-content
                            a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                            .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                            a.home-blog__item-btn.btn(href="#") Перейти

        include ../includes/_contact.pug