extends ../includes/_template.pug

block content

    .color-wrapper.black-block.index.page-single

        .left-line
            span.accent-color Прошлое

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/city-banner.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Город
                            .single-cats__item.dif.aic Еда
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color Праздный Толстой и Пушкин как гуру лени. Как прокрастинировали русские писатели

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Город
                        li В Казани все есть. 41 летняя веранда и терраса города
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.single-content__title.accent-color 15 июля отмечается День лени. «Сноб» собрал наиболее яркие высказывания Пушкина, Толстого, Чехова, Хармса и Лимонова о том, как они ленились, пытались бороться со своей прокрастинацией, учили других получать наслаждение от безделья и презирали трудоголиков
                        figure
                            img(src="img/past-2.png", alt="")
                        p Пушкин не просто любил лениться, но и умел правильно это делать. Более того, он учил этому искусству других. В своем раннем стихотворении «Сон (отрывок)», написанном в духе дидактических поэм, Александр Сергеевич дает конкретные указания: как и где надо лениться, чтобы это не навредило вам. А еще Пушкин — первый (если вообще не единственный) русский литератор, который буквально считал лень Музой:
                        p.text-big Я сон пою, бесценный дар Морфея, <br>И научу, как должно в тишине <br>Покоиться в приятном, крепком сне. <br>Приди, о лень! приди в мою пустыню. <br>Тебя зовут прохлада и покой; <br>В одной тебе я зрю свою богиню; <br>Готово все для гостьи молодой.
                        h3 Кто продолжил моду на лень?
                        p Но главным лентяем среди всех русских писателей Пушкин так и не стал. Это место занял Лев Толстой — впрочем, лень не помешала графу оставить десятки томов сочинений в наследие потомкам. Она в принципе не сильно мешала ему получать удовольствие от жизни. Но для самоуспокоения он, конечно, вел с ней тяжелую внутреннюю борьбу (или имитировал это и просто кокетничал, кто знает). Выводы каждый волен делать сам, достаточно просто бегло ознакомиться с дневниками Толстого. В них он бесконечно предъявлял к себе жестокие претензии, ругал себя за изнеженность, хандру, безделье, слабоволие, нерешительность, праздность… Почти на каждой странице можно увидеть похожие записи:
                        
                        .past-items
                            .past-item
                                .past-item__date 20 марта <br>1852 года
                                .past-item__text «Завтра встану пораньше и постараюсь провести день как можно полнее. Проклятая лень! Какой бы я был славный человек, коли бы она мне не мешала».
                            .past-item
                                .past-item__date 11 сентября <br>1853 года
                                .past-item__text «Не могу одолеть лень».
                            .past-item
                                .past-item__date 16–22 ноября <br>1853 года
                                .past-item__text «Я, кажется, обчелся числами, потому что решительно не могу припомнить, что я делал эти четыре дня».
                            .past-item
                                .past-item__date 16–22 ноября <br>1853 года
                                .past-item__text «1) Встал поздно. 2) Разгорячился, прибил Алешку. 3) Ленился. 4) Был беспорядочен. 5) Был грустен».
                            .past-item
                                .past-item__date 16–22 ноября <br>1853 года
                                .past-item__text «1) Валялся. 2) Падал духом. 3) Злился — ударил кошку и 4) вообще забыл о правилах. 5) Гадал».
                            .past-item
                                .past-item__date 16–22 ноября <br>1853 года
                                .past-item__text «Ежели пройдет три дня, во время которых я ничего не сделаю для пользы людей, я убью себя. Помоги мне, господи».
                        .ambassador-slider__wrapper.posr
                            .ambassador-slider.swiper
                                .ambassador-arrow.ambassador-arrow__prev.posr.posa.cursor
                                .ambassador-arrow.ambassador-arrow__next.posr.posa.cursor
                                .swiper-wrapper
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/city-2.png", alt="")
                                    .swiper-slide
                                        .ambassador-slider__item.df.aifs
                                            .ambassador-slider__item-text Подпись к картинке
                                            img.ambassador-slider__item-img.img(src="img/ambassador.png", alt="")
                        
                        p В юности прокрастинация Толстого доходила до чрезвычайных масштабов. Это приводило его в отчаяние, он не мог справиться с бездельем. Помогало только литературное тщеславие: Толстой очень хотел литературной славы, поэтому нехотя все же садился что-то сочинять. Совсем не так к делу относился Эдуард Лимонов, который вряд ли бы согласился с Толстым хоть в чем-то. В своем первом романе «Это я, Эдичка» главный панк русской литературы уверял:
                        .blockquote
                            .blockquote-title ЦИТАТА
                            .blockquote-text «Молодые люди часто ленивы и работать не хотят. Ну, они и правы. Позже их прижмут, заставят. Но были правы. Что в работе хорошего и чем тут гордиться? “Я работаю, я налоги плачу”, — так всю жизнь и подчиняются. Я лично только писать люблю, и то не всегда. А вообще предпочитаю ничего не делать. Размышлять. Чьи-то стихи вспоминать. На солнышке лежать. Мясо есть. Вино пить. Любовью заниматься или революцию устраивать. А писать — иногда. Я не верю, что кто-то действительно любит восемь часов в день, пять дней в неделю печатать на пишущей машинке, или же рубашки для мужчин шить, или же мусор с улиц убирать. Так что, она сказала, сделает во-первых, что вы думаете? Конечно, “стап май ворк”. Так что молодые люди неосознанно правы. Я за них, я их поддерживаю».

                        figure.full-width
                            img(src="img/past-1.png", alt="")
                            figcaption Фото: Галина Овчинникова
                        ul
                            li Лимонов не был ленивым и мечтательным человеком, но работать наравне с другими крайне не хотел. Однако он был вынужден сменить множество работ во время своего пребывания в эмиграции и очень от этого мучился. Но еще большие мучения ему доставляли обычные труженики, «винтики системы», добропорядочные рядовые обыватели: «Я все равно вас презираю. Не всех, но многих. За то, что живете вы скушно, продали себя в рабство службе, за ваши вульгарные клетчатые штаны, за то, что вы делаете деньги и никогда не видели света. Дерьмо!»
                            li Чехов, как и Толстой, всю жизнь боролся с собой. Он был хронически не удовлетворен своим нравственным развитием. И ему, конечно же, мешала лень. Антон Павлович часто говорил о своей лени с юмором. Он дажепосвятил ей очаровательный короткий рассказ «Моя "она"»:
                        p «Она, как авторитетно утверждают мои родители и начальники, родилась раньше меня. Правы они или нет, но я знаю только, что я не помню ни одного дня в моей жизни, когда бы я не принадлежал ей и не чувствовал над собой ее власти. Она не покидает меня день и ночь; я тоже не выказываю поползновения удрать от нее, — связь, стало быть, крепкая, прочная... Но не завидуйте, юная читательница!.. Эта трогательная связь не приносит мне ничего, кроме несчастий. Во-первых, моя "она", не отступая от меня день и ночь, не дает мне заниматься делом. Она мешает мне читать, писать, гулять, наслаждаться природой... Я пишу эти строки, а она толкает меня под локоть и ежесекундно, как древняя Клеопатра не менее древнего Антония, манит меня к ложу. Во-вторых, она разоряет меня, как французская кокотка. За ее привязанность я пожертвовал ей всем: карьерой, славой, комфортом... По ее милости я хожу раздет, живу в дешевом номере, питаюсь ерундой, пишу бледными чернилами. Все, все пожирает она, ненасытная! Я ненавижу ее, презираю... Давно бы пора развестись с ней, но не развелся я до сих пор не потому, что московские адвокаты берут за развод четыре тысячи... Детей у нас пока нет... Хотите знать ее имя? Извольте... Оно поэтично и напоминает Лилю, Лелю, Нелли...<br><br>Ее зовут — Лень».

                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

        section.other-blog
            .container
                .home-blog__title.center Может быть инетресно
                .city-items.row
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-3.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                                .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-2.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                                .home-blog__box-subtitle Размышления путешественника о городе.
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                                .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                                a.home-blog__item-btn.btn(href="#") Перейти

            include ../includes/_contact.pug