extends ../includes/_template.pug

block content

    .color-wrapper.default-block.index

        .left-line
            span.accent-color Амбассадоры

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова


        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li Амбассадоры «Инде»

        main.page-top.page-top__team
            .container
                .page-top__list.df.aic.fxw.jcsb
                    h1.page-top__title.accent-color Амбассадоры <br>«Инде»
                    .page-top__subtitle Статьи о ключевых моментах мировой истории, биографии выдающихся исторических деятелей, аналитические материалы о влиянии прошлого на настоящее. Мы стремимся показать, как исторические события и личности формируют нашу культуру, общество и политику сегодня. 

        section.team
            .container.index
                .team-list.row
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-1.png", alt="")
                            .team-item__title Вячеслав Богдан
                            .team-item__text Предприниматель, сооснователь Flowwow
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-2.png", alt="")
                            .team-item__title Григорий Добрыгин
                            .team-item__text Режиссер, основатель независимого театрального проекта «а39»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-3.png", alt="")
                            .team-item__title Нино Шаматава
                            .team-item__text Соосновательница и креативный директор Ushatava
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-4.png", alt="")
                            .team-item__title Ксения Уварова
                            .team-item__text Соосновательница и CEO Ushatava
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-5.png", alt="")
                            .team-item__title Роман Маресов
                            .team-item__text Руководитель e-com сервисов «Яндекса»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-6.png", alt="")
                            .team-item__title Дарья Байбакова
                            .team-item__text Благотворитель, директор московской «Ночлежки»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-7.png", alt="")
                            .team-item__title Вячеслав Богдан
                            .team-item__text Предприниматель, сооснователь Flowwow
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-8.png", alt="")
                            .team-item__title Григорий Добрыгин
                            .team-item__text Режиссер, основатель независимого театрального проекта «а39»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-9.png", alt="")
                            .team-item__title Нино Шаматава
                            .team-item__text Соосновательница и креативный директор Ushatava
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-10.png", alt="")
                            .team-item__title Ксения Уварова
                            .team-item__text Соосновательница и CEO Ushatava
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-11.png", alt="")
                            .team-item__title Роман Маресов
                            .team-item__text Руководитель e-com сервисов «Яндекса»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-12.png", alt="")
                            .team-item__title Дарья Байбакова
                            .team-item__text Благотворитель, директор московской «Ночлежки»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-13.png", alt="")
                            .team-item__title Ксения Уварова
                            .team-item__text Соосновательница и CEO Ushatava
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-14.png", alt="")
                            .team-item__title Роман Маресов
                            .team-item__text Руководитель e-com сервисов «Яндекса»
                    .team-block.col
                        .team-item.posr
                            a.team-item__link.posa.db(href="#")
                            .team-item__img.posr
                                img.db.posa(src="img/team-15.png", alt="")
                            .team-item__title Дарья Байбакова
                            .team-item__text Благотворитель, директор московской «Ночлежки»
                .city-navs.df.aic.jcsb.fxw
                    a.city-btn.btn(href="#") Показать еще
                    .pagination.df.aic.jcc
                        a.prev(href="#") 
                        a(href="#") 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") 4
                        a.next(href="#")