extends ../includes/_template.pug

block content

    .color-wrapper.red-block.index.page-single

        .left-line
            span.accent-color Путешествия

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title.accent-color «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова

        .single-fixed.df
            .single-fixed__buttons.df
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b1") Введение
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b2") Якорь №2
                a.single-fixed__buttons-item.dif.aic.link.transition.scroll(href="#b3") Якорь №3
            .single-fixed__btn.bg-color.dif.aic Содержание<br>статьи

        section.single
            .container
                .single-top.df.direction.fxw#b1
                    img.single-top__img(src="img/trips.png", alt="")
                    .article-center.article-margin.single-top__wrapper
                        .single-top__list.df.fxw.jcsb
                            .single-top__text.accent-color Анна Абрамова
                            .single-top__text.single-top__date.accent-color 11 июля 2024 в 16:19
                            .single-top__text.accent-color 7 минут
                .single-box.index
                    .single-box__list
                        .single-cats.df.aic.fxw
                            .single-cats__item.dif.aic Путешествия
                            .single-cats__item.dif.aic Альметьевск
                        a.article-top__share.hide.aic.posa(href="#") SHARE
                    h1.single-title.accent-color Лето, кафе, парки и музеи нефти — тотальный гид «Инде» по&nbsp;Альметьевску

                .single-breadcrumbs.df.aic.jcsb
                    ul.breadcrumbs-list
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Путешествия
                        li Лето, кафе, парки и музеи нефти — тотальный гид «Инде» по Альметьевску
                    .article-top__lang.df.aic
                        a.active(href="#") РУС
                        span
                        a(href="#") ТАТ

                .article-wrapper.posr#b2
                    .article-share.posa
                        .article-share__title SHARE <br>THIS<br>ARTICLE
                        .article-share__links
                            a.article-share__link.db.link.transition(href="#" data-copy="copied text!!!") Сopy link
                            a.article-share__link.db.link(href="#") Vk
                            a.article-share__link.db.link(href="#") Telegram
                            a.article-share__link.db.link(href="#") WhatsApp


                    .single-content.article-center.article-margin
                        h2.single-content__title.accent-color 30 с лишним очевидных и не очень локаций
                        p Летом хочется как можно больше успеть: погулять по парку, сходить в музей, вкусно поесть. А еще — особенно в погожие дни — попутешествовать. Для этого в Татарстане много классных локаций, и одна из них — Альметьевск. «Инде» выбрал интересные места для прогулок по городу: кампус Высшей школы нефти, музей этноинструментов, парк аттракционов (особенно для соскучившихся по ним казанцев) и многое другое.
                        .single-content__slider-wrapper.posr(data-slider="1")
                            .single-content__slider-top Подпись к картинке
                            .single-content__slider-wrapper.posr
                                .single-content__slider.swiper
                                    .single-content__slider-arrows.df.aic.posa
                                        .single-content__slider-arrow.prev.cursor.transition
                                        .single-content__slider-arrow.next.cursor.transition
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                .single-content__thumb.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="img/thumb.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/thumb-2.png", alt="")
                                        .swiper-slide
                                            img(src="img/big-slider.png", alt="")
                                        .swiper-slide
                                            img(src="img/thumb.png", alt="")
                        h3.big-title Где погулять
                        .trips-items
                        
                            .trips-item
                                .trips-item__title Городской парк имени 60-летия нефти Татарстана
                                .trips-item__subtitle Самый старый парк в городе открылся в 1958 году. Попасть в него можно через четыре входа, расположенных с разных сторон. У основного — Вечный огонь и памятник Неизвестному солдату, напротив — площадь с поющими фонтанчиками. Еще парк популярен тем, что тут около 30 аттракционов для детей и взрослых.
                                .single-food__item-btn.btn
                                    span Читать подробнее
                                    b Скрыть
                                .trips-item__text Помимо этого, здесь много точек для занятий спортом: уличные тренажеры, площадки, теннисный корт и беговая дорожка. В центре парка — сцена летнего театра, где проходят мероприятия и выступают звезды татарской эстрады. На этой же площади стоит большой фонтан и рядом — колесо обозрения, с которого видно весь город. Вечером, из-за огней аттракционов, парк становится еще атмосфернее.
                                figure
                                    img(src="img/trips-2.png", alt="")
                                    figcaption Фото: Галина Овчинникова
                            .trips-item
                                .trips-item__title Парк культуры и отдыха «Каскад прудов»
                                .trips-item__subtitle Здесь на 5000 квадратных метров расположилась самая большая детская площадка в Татарстане. Вдоль всей территории — пруд и мосты для перехода через водоем. А на нижнем ярусе каскада находится скейт-площадка, где подростки устраивают соревнования, — но пока ее ремонтируют.
                                .single-food__item-btn.btn
                                    span Читать подробнее
                                    b Скрыть
                                .trips-item__text Помимо этого, здесь много точек для занятий спортом: уличные тренажеры, площадки, теннисный корт и беговая дорожка. В центре парка — сцена летнего театра, где проходят мероприятия и выступают звезды татарской эстрады. На этой же площади стоит большой фонтан и рядом — колесо обозрения, с которого видно весь город. Вечером, из-за огней аттракционов, парк становится еще атмосфернее.
                                figure
                                    img(src="img/trips-3.png", alt="")
                                    figcaption Фото: Галина Овчинникова
                            .trips-item
                                .trips-item__title Развлекательный центр «Майдан»
                                .trips-item__subtitle Здесь на 5000 квадратных метров расположилась самая большая детская площадка в Татарстане. Вдоль всей территории — пруд и мосты для перехода через водоем. А на нижнем ярусе каскада находится скейт-площадка, где подростки устраивают соревнования, — но пока ее ремонтируют.
                                .single-food__item-btn.btn
                                    span Читать подробнее
                                    b Скрыть
                                .trips-item__text Помимо этого, здесь много точек для занятий спортом: уличные тренажеры, площадки, теннисный корт и беговая дорожка. В центре парка — сцена летнего театра, где проходят мероприятия и выступают звезды татарской эстрады. На этой же площади стоит большой фонтан и рядом — колесо обозрения, с которого видно весь город. Вечером, из-за огней аттракционов, парк становится еще атмосфернее.
                                figure
                                    img(src="img/trips-4.png", alt="")
                                    figcaption Фото: Галина Овчинникова
                            a.single-food__btn.btn(href="#") Показать еще
                        .trips-line

                        h4.big-title Что посмотреть
                        .trips-blocks
                            .trips-blocks__list.row
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-1.png", alt="")
                                        .trips-block__item-title Альметьевский краеведческий музей
                                        .trips-block__item-text Археологические находки разных эпох, орудия труда и быта, одежда, украшения и, конечно, артефакты, рассказывающие об истории нефтедобычи. Классический городской музей, в котором вы узнаете, как из маленького татарского поселения вырос большой современный город.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col.big-block
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-2.png", alt="")
                                        .trips-block__item-title Общественный центр «Алмет»
                                        .trips-block__item-text В пятиэтажном культурно-образовательном пространстве, к примеру, расположены единственные в мире экспозиции метрологии и международной системы единиц. Помимо этого, в центре есть музей с музыкальными инструментами народов мира, на которых разрешено поиграть. А на одном из этажей — инклюзивная театральная площадка «Аулак». 
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col.big-block
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-3.png", alt="")
                                        .trips-block__item-title Креативное пространство «БиблиоНефть»
                                        .trips-block__item-text Многофункциональный центр с читальным залом, зоной коворкинга, пространством для отдыха, чтения книг и общения, тайм-кафе с настольными играми, буккроссингом и многим другим.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                            a.single-food__btn.btn(href="#") Показать еще
                        .trips-line

                        h5.big-title Где поесть
                        .trips-blocks
                            .trips-blocks__list.row
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-1.png", alt="")
                                        .trips-block__item-title Альметьевский краеведческий музей
                                        .trips-block__item-text Археологические находки разных эпох, орудия труда и быта, одежда, украшения и, конечно, артефакты, рассказывающие об истории нефтедобычи. Классический городской музей, в котором вы узнаете, как из маленького татарского поселения вырос большой современный город.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-3.png", alt="")
                                        .trips-block__item-title Креативное пространство «БиблиоНефть»
                                        .trips-block__item-text Многофункциональный центр с читальным залом, зоной коворкинга, пространством для отдыха, чтения книг и общения, тайм-кафе с настольными играми, буккроссингом и многим другим.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col.big-block
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-2.png", alt="")
                                        .trips-block__item-title Общественный центр «Алмет»
                                        .trips-block__item-text В пятиэтажном культурно-образовательном пространстве, к примеру, расположены единственные в мире экспозиции метрологии и международной системы единиц. Помимо этого, в центре есть музей с музыкальными инструментами народов мира, на которых разрешено поиграть. А на одном из этажей — инклюзивная театральная площадка «Аулак». 
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                            a.single-food__btn.btn(href="#") Показать еще
                        .trips-line

                        h5.big-title Как еще провести время
                        .trips-blocks
                            .trips-blocks__list.row
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-1.png", alt="")
                                        .trips-block__item-title Альметьевский краеведческий музей
                                        .trips-block__item-text Археологические находки разных эпох, орудия труда и быта, одежда, украшения и, конечно, артефакты, рассказывающие об истории нефтедобычи. Классический городской музей, в котором вы узнаете, как из маленького татарского поселения вырос большой современный город.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-3.png", alt="")
                                        .trips-block__item-title Креативное пространство «БиблиоНефть»
                                        .trips-block__item-text Многофункциональный центр с читальным залом, зоной коворкинга, пространством для отдыха, чтения книг и общения, тайм-кафе с настольными играми, буккроссингом и многим другим.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col.big-block
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-2.png", alt="")
                                        .trips-block__item-title Общественный центр «Алмет»
                                        .trips-block__item-text В пятиэтажном культурно-образовательном пространстве, к примеру, расположены единственные в мире экспозиции метрологии и международной системы единиц. Помимо этого, в центре есть музей с музыкальными инструментами народов мира, на которых разрешено поиграть. А на одном из этажей — инклюзивная театральная площадка «Аулак». 
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                            a.single-food__btn.btn(href="#") Показать еще
                        .trips-line

                        h6.big-title Что посмотреть рядом
                        .trips-blocks
                            .trips-blocks__list.row
                                .trips-block.col
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-4.png", alt="")
                                        .trips-block__item-title Альметьевская картинная галерея
                                        .trips-block__item-text В ее фондах — тысячи произведений живописи, графики, скульптуры советского и татарского изобразительного и прикладного искусства. Каждый месяц здесь обновляются временные экспозиции и еженедельно проходят мастер-классы по созданию поделок своими руками.
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                                .trips-block.col.big-block
                                    .trips-block__item
                                        img.trips-block__item-img(src="img/trips-1-2.png", alt="")
                                        .trips-block__item-title Общественный центр «Алмет»
                                        .trips-block__item-text В пятиэтажном культурно-образовательном пространстве, к примеру, расположены единственные в мире экспозиции метрологии и международной системы единиц. Помимо этого, в центре есть музей с музыкальными инструментами народов мира, на которых разрешено поиграть. А на одном из этажей — инклюзивная театральная площадка «Аулак». 
                                        .trips-block__item-bottom.accent-color Адрес: ул. Ленина, 55
                        h3 Музеи нефти в Лениногорском районе
                        figure
                            img(src="img/trips-2.png", alt="")
                            figcaption Фото: Галина Овчинникова
                        .trips-texts
                            .trips-texts__item
                                .trips-block__item-title Первый музей нефти в СССР 
                                .trips-block__item-text Появился в Лениногорске в 1968 году. В нем расскажут об истории добычи с XVII века до наших дней. Добраться из Альметьевска можно как на личном транспорте, так и на междугородном автобусе.
                                .trips-block__item-bottom.accent-color Адрес: ул. Тукая, 2
                            .trips-texts__item
                                .trips-block__item-title Музей в селе Шугурово 
                                .trips-block__item-text Открылся в 2015 году на месте демонтированного Шугуровского битумного завода. И если в Лениногорском вы окунетесь в теорию, то новый — больше про практику: штольня, плавильня, нефтеперегонный цех. Главным экспонатом выступает сохраненная среда, благодаря которой экскурсанты могут полностью погрузиться в атмосферу нефтепромышленности. Удобнее, конечно, добираться до музея на собственном автомобиле. Но автобусы сюда тоже ходят — правда, не очень часто.
                                .trips-block__item-bottom.accent-color Адрес: ул. Заводская, 7
                        h4.big-title Как добраться до Альметьевска
                        p На личном транспорте из Казани до Альметьевска можно доехать за три-четыре часа в зависимости от пробок: достаточно ехать по трассе Р-239 в сторону Чистополя, а затем — Оренбурга. Помимо этого, добраться можно на автобусе. Но на самом деле местные предпочитают искать попутчиков в сервисе BlaBlaCar — часто это оказывается удобнее и быстрее.
                        h5.big-title Где остановиться
                        p Отелей в городе не так много: обычно приезжие снимают квартиру или просто останавливаются у друзей и родственников. Мы выбрали несколько вариантов — неплохие по отзывам, расположению, интерьеру и ценнику.
                        .trips-contact
                            .single-city__contact-item.df.aifs
                                .single-city__contact-title «Делюкс»
                                .single-city__contact-text
                                    b Адрес:
                                    |  ул. 8 Марта, 23б
                            .single-city__contact-item.df.aifs
                                .single-city__contact-title «Нефтяник»
                                .single-city__contact-text
                                    b Адрес:
                                    |  ул. 8 Марта, 23б
                            .single-city__contact-item.df.aifs
                                .single-city__contact-title Frisson
                                .single-city__contact-text
                                    b Адрес:
                                    |  ул. Толстого, 11
                            .single-city__contact-item.df.aifs
                                .single-city__contact-title DeLuxe
                                .single-city__contact-text
                                    b Адрес:
                                    |  ул. Р. Фахретдина, 32
                        .trips-line
                    .article-center.article-margin
                        .single-bottomText Обложка: Kinopoisk; фото: 1 — Mentalfilmfest; 2 — Reactor-art; 3 — Kazan-kremlin; 4 — Hor.viktorgolumbevskii; 5 — Tg; 6 — YouTube; 7 — Vk; 8 — Vk; 9  — Vk; 10 — Tg; 11 — Vk; 12 — Kinopoisk; 13 — Kazan-tuz; 14 — Ugolkazan; 15 — Ugolkazan; 16 — Belova-art-gallery; 17 — Vk; 18 — Vk
                    .article-center.article-margin
                        .article-soc.df.aifs.jcsb
                            .article-soc__title Поделиться статьей:
                            .article-soc__links.df.aic
                                a.contact-link.btn(href="#" target="_blank") Вконтакте
                                a.contact-link.btn(href="#" target="_blank") Telegram
                                a.contact-link.btn(href="#" target="_blank") Instagram*
                        .article-bottom.df.aic.jcsb
                            a.article-back.dif.aic.link.posr.transition(href="#") Ко всем статьям
                            .article-bottom__text *Instagram — деятельность <br>на территории РФ запрещена
                    .article-other.posa
                        .article-other__title.accent-color Далее по теме:
                        .article-other__list
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Коктейль за сторис в Roof Gastro Bar, летняя  распродажа в NYX и акция на книги от Ozon
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Свобода воли vs  нейробиология—  как люди выбирают? 
                            .article-other__item.posr
                                a.article-other__item-link.db.posa(href="#")
                                .article-other__item-title.accent-color Сгущенка с нори, сырники  с томатным джемом и пицца  с кониной

        section.other-blog
            .container
                .home-blog__title.center Может быть инетресно
                .city-items.row
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-3.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                                .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-2.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Еда, история и природа. 5 причин поехать в Набережные Челны в&nbsp;августе
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") «Альметьевск исторический: архитектурная симфония барокко и классицизма»
                                .home-blog__box-subtitle Размышления путешественника о городе.
                                a.home-blog__item-btn.btn(href="#") Перейти
                    .city-items__block.col
                        .home-blog__box.posr.df.direction
                            .home-blog__cat.dif.aic.posa Путешествия
                            a.home-blog__box-img.posr.overflow.db(href="#")
                                img.img(src="img/blog-4.png", alt="")
                            .home-blog__box-content
                                a.home-blog__box-title.db.link(href="#") Россияне проявляют интерес к изучению языков народов при поездках по стране
                                .home-blog__box-subtitle Треть путешественников уверены, что знакомство с национальным языком региона важно для хорошей поездки.
                                a.home-blog__item-btn.btn(href="#") Перейти

            include ../includes/_contact.pug