extends ../includes/_template.pug

block content

    .color-wrapper.gray-block.index

        .left-line
            span.accent-color Новости

        main.main
            .container
                .main-wrapper.posr
                    .main-slider.swiper
                        .main-next.posa.cursor
                        .swiper-wrapper
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title На улице Тельмана откроется заведение от команды кофейни Botanica
                                    .main-item__subtitle Кирилл Сафронов
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Рабочий вопрос. Повар в&nbsp;Cho, стилист-консультант в&nbsp;Nude Store и продавец в&nbsp;Surf Village 
                                    .main-item__subtitle Карьерные возможности в&nbsp;Казани с&nbsp;15-го по 22 января.
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Свобода воли vs нейробиология — как люди выбирают?
                                    .main-item__subtitle Что посмотреть
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title Собственное производство, апсайкл-коллекции и&nbsp;«интеллектуальная женственность» в&nbsp;Corstore17
                            .swiper-slide
                                .main-item.posr
                                    a.main-item__link.db.posa(href="#")
                                    .main-item__title «Нас других не будет» — фильм про Данилу Багрова и Сергея Бодрова


        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li
                        a(href="#") Главная
                    li Вакансии

        main.page-top
            .container
                .page-top__list.df.aic.fxw.jcsb
                    h1.page-top__title.accent-color Вакансии
                    .page-top__subtitle Нам нужны крутые спецы и в обмен предлагаем все, что положено предлагать: коллектив, тусовочки, работу, рост и нормальную зарплату

        section.vacancies
            .container
                .vacancies-wrapper
                    .vacancies-list.df
                        .vacancies-left
                            h2.vacancies-title Преимущества работы в Инде
                            .vacancies-items.df.fxw.jcsb
                                .vacancies-item
                                    .vacancies-item__title Рост и развитие
                                    .vacancies-item__text Работа в редакции интернет-журнала — это возможность развиваться, учиться у опытных коллег и получать новые знания и навыки.
                                .vacancies-item
                                    .vacancies-item__title Интересные задачи 
                                    .vacancies-item__text Наша работа — это всегда разнообразные задачи, которые помогают раскрыть свой потенциал, попробовать новое и проявить креативность.
                                .vacancies-item
                                    .vacancies-item__title Влияние на общественное мнение
                                    .vacancies-item__text Внесете свой вклад в формировании общественного мнения, будете поднимать важные темы и делать голос редакции значимым для широкой аудитории.
                                .vacancies-item
                                    .vacancies-item__title Участие в создании качественного контента 
                                    .vacancies-item__text Будете работать с опытными авторами и редакторками, которые помогут вам улучшить свои навыки и создать интересные и полезные материалы.
                                .vacancies-item
                                    .vacancies-item__title Свобода и независимость
                                    .vacancies-item__text Вы сами выбираете темы для статей, определяете формат работы и сроки выполнения заданий. Это позволит вам полностью раскрыть свой потенциал и проявить свою индивидуальность.
                        .vacancies-right
                            .vacancies-top.posr
                                .vacancies-img.posr
                                    img.img(src="img/vacancies.png", alt="")
                                .vacancies-top__content.posa.df.aifs.jcsb
                                    .vacancies-top__text Откликнуться на&nbsp;вакансию или&nbsp;задать вопросы можно по&nbsp;почте
                                    a.vacancies-top__email.dif.link(href="mailto:rabota@inde.io") rabota@inde.io
                            .vacancies-accordion
                                h3.vacancies-title.vacancies-bold Кого мы ищем в команду
                                .vacancies-accordion__items
                                    .vacancies-accordion__item.active(data-accordion)
                                        .vacancies-accordion__item-title.cursor.df.aic.jcsb(data-accordion-title) Редактор
                                        .vacancies-accordion__item-content «Инде» нужен человек с опытом редактуры в медиа. Если вы умеете работать с авторами и темами, способны дать корректное ТЗ, помочь автору выстроить структуру материала и доработать его вместе с ним, внимательны, скрупулезны и грамотны. Предстоит редактировать контент, выходящий на площадках «Инде», поддерживать и развивать имеющиеся форматы, а также придумывать новые. Наличие собственного пула внештатных авторов будет плюсом. В будущем есть возможность стать выпускающим редактором. Испытательный срок длится месяц, а зарплату определим после собеседования.
                                    .vacancies-accordion__item(data-accordion)
                                        .vacancies-accordion__item-title.cursor.df.aic.jcsb(data-accordion-title) Журналист
                                        .vacancies-accordion__item-content «Инде» нужен человек с опытом редактуры в медиа. Если вы умеете работать с авторами и темами, способны дать корректное ТЗ, помочь автору выстроить структуру материала и доработать его вместе с ним, внимательны, скрупулезны и грамотны. Предстоит редактировать контент, выходящий на площадках «Инде», поддерживать и развивать имеющиеся форматы, а также придумывать новые. Наличие собственного пула внештатных авторов будет плюсом. В будущем есть возможность стать выпускающим редактором. Испытательный срок длится месяц, а зарплату определим после собеседования.

        include ../includes/_contact.pug